In [9]:
import pandas as pd

In [10]:
rainbow_trout_2019 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2019&Submit=Go')[0]

In [11]:
rainbow_trout_2019.head()

                  Water Body  Number Stocked   Size
0  Ablon Park Pond (Garland)            2003  Adult
1  American Legion Park Pond            1816  Adult
2                Amsler Park            2644  Adult
3                   Ascarate            5872  Adult
4                Bailey Lake            1017  Adult

In [12]:
rainbow_trout_2019['year_stocked'] = '2019'

In [13]:
rainbow_trout_2019

                    Water Body  Number Stocked   Size year_stocked
0    Ablon Park Pond (Garland)            2003  Adult         2019
1    American Legion Park Pond            1816  Adult         2019
2                  Amsler Park            2644  Adult         2019
3                     Ascarate            5872  Adult         2019
4                  Bailey Lake            1017  Adult         2019
..                         ...             ...    ...          ...
175           Waskom City Pond            1032  Adult         2019
176         Waterloo Park Pond            6716  Adult         2019
177            Winchester lake            1365  Adult         2019
178          Woldert Park Pond            1667  Adult         2019
179              Total Stocked          350046    NaN         2019

[180 rows x 4 columns]

In [14]:
rainbow_trout_2018 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2018&Submit=Go')[0]

In [15]:
rainbow_trout_2018

                    Water Body  Number Stocked   Size
0     A. E. Wood Fish Hatchery             426  Adult
1    Ablon Park Pond (Garland)            2051  Adult
2    American Legion Park Pond            1702  Adult
3                  Amsler Park             610  Adult
4                     Ascarate            2353  Adult
..                         ...             ...    ...
147         Waterloo Park Pond            5064  Adult
148            Winchester lake             617  Adult
149          Woldert Park Pond             889  Adult
150               Wyatt's Pond            1261  Adult
151              Total Stocked          243261    NaN

[152 rows x 3 columns]

In [16]:
rainbow_trout_2018['year_stocked'] = '2018'
rainbow_trout_2018

                    Water Body  Number Stocked   Size year_stocked
0     A. E. Wood Fish Hatchery             426  Adult         2018
1    Ablon Park Pond (Garland)            2051  Adult         2018
2    American Legion Park Pond            1702  Adult         2018
3                  Amsler Park             610  Adult         2018
4                     Ascarate            2353  Adult         2018
..                         ...             ...    ...          ...
147         Waterloo Park Pond            5064  Adult         2018
148            Winchester lake             617  Adult         2018
149          Woldert Park Pond             889  Adult         2018
150               Wyatt's Pond            1261  Adult         2018
151              Total Stocked          243261    NaN         2018

[152 rows x 4 columns]

In [17]:
rainbow_trout_2017 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2017&Submit=Go')[0]
rainbow_trout_2017.head()

                  Water Body  Number Stocked   Size
0   A. E. Wood Fish Hatchery             374  Adult
1  American Legion Park Pond            1406  Adult
2                Amsler Park            1367  Adult
3                   Ascarate            3238  Adult
4                Bailey Lake            1811  Adult

In [18]:
rainbow_trout_2017['year_stocked'] = '2017'
rainbow_trout_2017

                    Water Body  Number Stocked   Size year_stocked
0     A. E. Wood Fish Hatchery             374  Adult         2017
1    American Legion Park Pond            1406  Adult         2017
2                  Amsler Park            1367  Adult         2017
3                     Ascarate            3238  Adult         2017
4                  Bailey Lake            1811  Adult         2017
..                         ...             ...    ...          ...
162         Waterloo Park Pond            6399  Adult         2017
163            Winchester lake            1423  Adult         2017
164          Woldert Park Pond            1459  Adult         2017
165               Wyatt's Pond            1267  Adult         2017
166              Total Stocked          325834    NaN         2017

[167 rows x 4 columns]

In [19]:
rainbow_trout_2016 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2016&Submit=Go')[0]
rainbow_trout_2016['year_stocked'] = '2016'
rainbow_trout_2016

                    Water Body  Number Stocked   Size year_stocked
0    Ablon Park Pond (Garland)            1249  Adult         2016
1                  Amsler Park             753  Adult         2016
2                     Ascarate             750  Adult         2016
3       Bandera City Park Lake             576  Adult         2016
4               Bane Park Lake            2400  Adult         2016
..                         ...             ...    ...          ...
154         Waterloo Park Pond            6531  Adult         2016
155            Winchester lake            2058  Adult         2016
156          Woldert Park Pond            1806  Adult         2016
157               Wyatt's Pond            1034  Adult         2016
158              Total Stocked          342252    NaN         2016

[159 rows x 4 columns]

In [20]:
rainbow_trout_2015 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2015&Submit=Go')[0]
rainbow_trout_2015['year_stocked'] = '2015'
rainbow_trout_2015

                    Water Body  Number Stocked   Size year_stocked
0    Ablon Park Pond (Garland)            1274  Adult         2015
1    American Legion Park Pond             751  Adult         2015
2                  Amsler Park            1507  Adult         2015
3              Arena Park Pond            2562  Adult         2015
4                     Ascarate            5137  Adult         2015
..                         ...             ...    ...          ...
150            Winchester lake            1201  Adult         2015
151          Woldert Park Pond            1451  Adult         2015
152      Wolf Creek (Lipscomb)            1330  Adult         2015
153               Wyatt's Pond            1020  Adult         2015
154              Total Stocked          329408    NaN         2015

[155 rows x 4 columns]

In [21]:
rainbow_trout_2014 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2014&Submit=Go')[0]
rainbow_trout_2014['year_stocked'] = '2014'
rainbow_trout_2014

                               Water Body  Number Stocked   Size year_stocked
0               Ablon Park Pond (Garland)            2835  Adult         2014
1               American Legion Park Pond            3906  Adult         2014
2                             Amsler Park            1272  Adult         2014
3                         Arena Park Pond            1009  Adult         2014
4                                Ascarate            6459  Adult         2014
..                                    ...             ...    ...          ...
137  West Guth Park Pond (Corpus Christi)             457  Adult         2014
138                       Winchester lake            2049  Adult         2014
139                     Woldert Park Pond             550  Adult         2014
140                          Wyatt's Pond            1024  Adult         2014
141                         Total Stocked          321724    NaN         2014

[142 rows x 4 columns]

In [22]:
rainbow_trout_2013 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2013&Submit=Go')[0]
rainbow_trout_2013['year_stocked'] = '2013'
rainbow_trout_2013

                               Water Body  Number Stocked   Size year_stocked
0               Ablon Park Pond (Garland)            2971  Adult         2013
1               American Legion Park Pond            2009  Adult         2013
2                             Amsler Park             755  Adult         2013
3                         Arena Park Pond            1004  Adult         2013
4                                Ascarate            4020  Adult         2013
..                                    ...             ...    ...          ...
132                    Waterloo Park Pond            6489  Adult         2013
133  West Guth Park Pond (Corpus Christi)             502  Adult         2013
134                     Woldert Park Pond            1527  Adult         2013
135                          Wyatt's Pond             795  Adult         2013
136                         Total Stocked          307532    NaN         2013

[137 rows x 4 columns]

In [23]:
rainbow_trout_2012 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2012&Submit=Go')[0]
rainbow_trout_2012['year_stocked'] = '2012'
rainbow_trout_2012

                               Water Body  Number Stocked   Size year_stocked
0               Ablon Park Pond (Garland)            2912  Adult         2012
1               American Legion Park Pond            4143  Adult         2012
2                         Arena Park Pond            1623  Adult         2012
3                                Ascarate            4306  Adult         2012
4                  Bandera City Park Lake            1015  Adult         2012
..                                    ...             ...    ...          ...
125       Waco Optimist (HOT Fairgrounds)            2002  Adult         2012
126                    Waterloo Park Pond            7721  Adult         2012
127  West Guth Park Pond (Corpus Christi)             502  Adult         2012
128                     Woldert Park Pond            2080  Adult         2012
129                         Total Stocked          289196    NaN         2012

[130 rows x 4 columns]

In [24]:
rainbow_trout_2011 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2011&Submit=Go')[0]
rainbow_trout_2011['year_stocked'] = '2011'
rainbow_trout_2011

                      Water Body  Number Stocked   Size year_stocked
0      Ablon Park Pond (Garland)            2433  Adult         2011
1      American Legion Park Pond            2000  Adult         2011
2                Arena Park Pond            2522  Adult         2011
3                       Ascarate            6928  Adult         2011
4         Bandera City Park Lake            1002  Adult         2011
..                           ...             ...    ...          ...
122                 Waldron Park            1001  Adult         2011
123           Waterloo Park Pond            7806  Adult         2011
124  Whitley Place Pavilion Pond            2962  Adult         2011
125            Woldert Park Pond             981  Adult         2011
126                Total Stocked          299315    NaN         2011

[127 rows x 4 columns]

In [25]:
rainbow_trout_2010 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2010&Submit=Go')[0]
rainbow_trout_2010['year_stocked'] = '2010'
rainbow_trout_2010

                      Water Body  Number Stocked   Size year_stocked
0      Ablon Park Pond (Garland)            1219  Adult         2010
1      American Legion Park Pond            2000  Adult         2010
2                    Amsler Park             300  Adult         2010
3                Arena Park Pond            1605  Adult         2010
4                       Ascarate            6905  Adult         2010
..                           ...             ...    ...          ...
125                 Waldron Park            1000  Adult         2010
126           Waterloo Park Pond            6913  Adult         2010
127  Whitley Place Pavilion Pond            2200  Adult         2010
128            Woldert Park Pond             984  Adult         2010
129                Total Stocked          311283    NaN         2010

[130 rows x 4 columns]

In [28]:
trout_df = pd.concat([rainbow_trout_2019, rainbow_trout_2018, rainbow_trout_2017, rainbow_trout_2016,
                     rainbow_trout_2015, rainbow_trout_2014, rainbow_trout_2013, rainbow_trout_2012,
                     rainbow_trout_2011, rainbow_trout_2010], axis=0).reset_index()
trout_df

      index                   Water Body  Number Stocked   Size year_stocked
0         0    Ablon Park Pond (Garland)            2003  Adult         2019
1         1    American Legion Park Pond            1816  Adult         2019
2         2                  Amsler Park            2644  Adult         2019
3         3                     Ascarate            5872  Adult         2019
4         4                  Bailey Lake            1017  Adult         2019
...     ...                          ...             ...    ...          ...
1474    125                 Waldron Park            1000  Adult         2010
1475    126           Waterloo Park Pond            6913  Adult         2010
1476    127  Whitley Place Pavilion Pond            2200  Adult         2010
1477    128            Woldert Park Pond             984  Adult         2010
1478    129                Total Stocked          311283    NaN         2010

[1479 rows x 5 columns]

In [29]:
trout_df.shape

(1479, 5)

In [30]:
trout_df = trout_df.dropna()

In [32]:
trout_df.shape

(1469, 5)

In [36]:
pd.set_option('display.max_rows', None)
trout_df['Water Body'].value_counts()

Canyon Tailrace                                              26
South Weeks                                                  12
Mary Jo Peckham Park                                         12
Burke-Crenshaw Lake                                          12
Oakes Street                                                 11
Plum Lake                                                    10
Eldridge Park Pond                                           10
Eisenhower Park Pond                                         10
Doornbos                                                     10
Palmetto State Park                                          10
Pampa City                                                   10
Mike Lewis Park (Grand Prairie)                              10
Crane County Pond                                            10
Copperas Cove City                                           10
Pear Trees Pond                                              10
Comanche Trails Park (Odessa)                                10
Comanche Trail (Big Springs)                                 10
Pittsburg City Lake                                          10
Miller's Pond                                                10
Faulkner Park Lake (Tyler)                                   10
Possum Kingdom Tailrace                                      10
Mesquite City Lake                                           10
Keneteso Pond                                                10
Lake Corpus Christi                                          10
Lake Zebco                                                   10
Harlingen Sports Complex                                     10
Lakeside Park (Duncanville)                                  10
Lakeside Park Pond (Nacogdoches)                             10
Greenbriar Park (Fort Worth)                                 10
Glen Rose City Lake                                          10
Garner State Park                                            10
Live Oak City                                                10
Frisco Commons Pond                                          10
Lost Maples - Lower                                          10
Fort Richardson State Park                                   10
Medical Center South                                         10
Meridian State Park                                          10
Hurst Chisholm Park                                          10
Jasper City Park Pond                                        10
Tom Bass I                                                   10
Buena Vista Park Lake                                        10
Waterloo Park Pond                                           10
Tyler State Park                                             10
Tyler Nature Center Pond                                     10
Two - Acre Lake                                              10
Ascarate                                                     10
Trinity Park Clear Fork Trinity River (Fort Worth)           10
Blanco State Park #4                                         10
Towne Lake                                                   10
Central Park Pond #1                                         10
Bob Sandlin State Park                                       10
Theo (Caprock Canyon)                                        10
Teague Park (Gregg County)                                   10
Sulphur Springs City Park                                    10
Bane Park Lake                                               10
Springfield                                                  10
South Llano River State Park                                 10
Carl Barton Jr. Park Pond                                    10
Rita Blanca Kids Fishing Pond                                10
Cedar Hill State Park Perch Pond                             10
River Park Clear Fork of the Trinity River (Fort Worth)      10
Seabourne Creek Park                                         10
South Lakes Park Pond (Denton)                               10
Buescher State Park                                          10
Woldert Park Pond                                            10
Canyon Southeast Park Lake                                   10
Southside Lions Park                                         10
Bullfrog Pond                                                10
L.B.J. State Park                                             9
Utopia Park Lake                                              9
Emory City Park Lake                                          9
Centennial Park Lake (Friendswood)                            9
Kennedale City Park                                           9
Kitty Hollow Lake                                             9
Richards Park-Upper                                           9
Lamesa 9th Street Park Lake                                   9
Lewisville Tailrace (Elm Fork Trinity River)                  9
LNVA Barrier Pond                                             9
Tom Bass III                                                  9
American Legion Park Pond                                     9
Nolan Creek                                                   9
Spring Lake Park                                              9
Ablon Park Pond (Garland)                                     9
Missouri City C. P. L                                         9
Elder Lake                                                    9
Heritage Park Lake                                            9
Blue Hole Park Lake                                           9
Bethany Park Pond C                                           9
Fryer                                                         9
Claiborne West Park                                           9
Beal Park Lake                                                9
Blue Ridge Park Pond                                          9
Cleburne-Hulen Park                                           9
Burroughs Park Pond                                           9
C. J. Kelly Park Pond                                         9
Bandera City Park Lake                                        9
Resoft Park Lake                                              8
Johnson Branch 2                                              8
Magnolia Ridge Pond                                           8
Monahans Perch Pond                                           8
Frontier Park Pond                                            8
Caudle                                                        8
Louise Hays Park                                              8
Grover Nelson Small Pond                                      8
Northwest Park Pond (Irving)                                  8
Bear Creek Park (Keller)                                      8
Bates Allen Park 2                                            8
Kidd Springs Park (Dallas)                                    8
Herman Brown Park Pond                                        8
Amsler Park                                                   8
First Capitol Park Pond                                       8
Rose Park (Mansfield)                                         7
San Gabriel Park                                              7
Randol Mill Duck Pond (Arlington)                             7
Waco Optimist (HOT Fairgrounds)                               7
Sheldon State Park Children's #1                              7
Pena Colorado                                                 7
Fort Boggy State Park                                         7
Breshears                                                     7
Lobo                                                          7
Waldron Park                                                  7
W. M. Brook Park Lake                                         7
Javalina Draw                                                 6
Wyatt's Pond                                                  6
Winchester lake                                               6
Arena Park Pond                                               6
Llano River                                                   6
Murphy City Hall Pond                                         6
Miller Park Pond (Temple)                                     6
Cal Young Park Lake                                           6
Holland Lake Park Pond                                        6
Shirley McDonald Park Pond                                    5
Saxet Park Lake                                               5
Ruddick Park Lake                                             5
Waskom City Pond                                              5
Llano River (Grenwelge Park)                                  5
Penick Park Pond (White Oak)                                  5
Meyer Park Pond                                               5
Nora Pond                                                     5
New Horseshoe                                                 5
Kingfisher Lake                                               5
Hearne Eastside Park Pond                                     5
Nelson Park                                                   5
Elm Creek Buffalo Wallow                                      5
Carl Levin City Park Pond                                     4
Legacy Park Pond                                              4
Brackenridge Park                                             4
Camp Mabry Pond 2                                             4
Hart Pundt Lake                                               4
Fort Griffin State Historic Site Pond 1                       4
Meadows Place Lake                                            4
Bailey Lake                                                   4
Town Hall Lake (Keller)                                       4
West Guth Park Pond (Corpus Christi)                          4
Hubbard City #2                                               4
On-Site Private Water Delivery                                4
Dennis Johnston Park Pond                                     4
Landmark Inn State Park                                       4
Meredith Stilling Basin                                       3
Lower Overton                                                 3
Oak Grove Park (Grapevine)                                    3
Herman Little Pond                                            3
Camp Mabry Pond 1                                             3
Elmer W. Oliver Nature Park Pond (Mansfield)                  3
Guadalupe State Park (Guadalupe River)                        3
Green Valley Community Park Pond A (North Richland Hills)     3
Mueller Lake Park                                             3
Chris Burkett Service Center Pond (Mansfield)                 3
Sports Complex Park                                           3
South Llano River                                             3
Lakeview Park Pond                                            3
Perch Pond - Lake Ray Roberts                                 3
Flatrock                                                      3
Pottsboro Lake                                                3
Barg Park                                                     3
Brentwood Park                                                2
Temple Lion's Park Lake                                       2
Whitley Place Pavilion Pond                                   2
Mills Pond (Wells Branch)                                     2
Cain Center Tennis Court Pond                                 2
Brady Creek                                                   2
Guadalupe River                                               2
Katherine Rose Park Lake                                      2
Heritage Park (Flower Mound)                                  2
Mission Tejas State Park Pond                                 2
Bluestem Pond                                                 2
Caruth Park (University Park)                                 2
Daingerfield State Park                                       2
Linda Spurlock Park                                           2
Marvin Finn Pond-Sammons Park #2                              2
Kickerillo-Mischer                                            2
Chandler Park (Mansfield)                                     2
Paluxy River                                                  2
A. E. Wood Fish Hatchery                                      2
Nails Creek Pond #1                                           2
Blanco River                                                  2
Espada                                                        1
Wolf Creek (Lipscomb)                                         1
Evergreen Pond 2                                              1
Fischer Park Pond 1                                           1
Unity Park Pond                                               1
Fort Worth Hatchery                                           1
Dimmitt City Lake                                             1
Graham Park Pond                                              1
Lake Grady T. Wallace                                         1
Hamilton Creek Park Lake (Burnet)                             1
Mustang Creek Park                                            1
Lake Friendswood                                              1
McGovern Lake                                                 1
Haskell City Park                                             1
Lake Centex                                                   1
Kosse City Park Pond                                          1
Unidentified Public Water Body                                1
Jones Creek Ranch                                             1
Atascosa River                                                1
Bates Allen Park Pond 1                                       1
League City Pool                                              1
Samuell Farm Pond #4 (Mesquite)                               1
Mont Belvieu City Park                                        1
Onion Creek                                                   1
Myers Park (Rockwall)                                         1
Carrollton Sports Complex                                     1
Bitter Creek (Dallas)                                         1
Bright Lake                                                   1
Cain Center Playground Pond                                   1
Beaver pond                                                   1
Elmendorf                                                     1
Ben Gill Park Pond                                            1
Boerne City Park                                              1
TFFC Fly Fishing Pond                                         1
Bradfield Pond 2                                              1
Bridge Bob's Pond                                             1
Seymour Pond North                                            1
Earl Scott Pond                                               1
Centennial Park Pond                                          1
Victoria City                                                 1
Canyon                                                        1
Flower Mound Rheudasil                                        1
Independence Retention Pond                                   1
Leonard Johns Park Pond (Flower Mound)                        1
Community Park Pond B (Rowlett)                               1
Cy Miller Pond                                                1
Texana                                                        1
Community Park Pond A (Rowlett)                               1
Veterans Park (White Settlement)                              1
Name: Water Body, dtype: int64