In [2]:
import pandas as pd

In [11]:
rainbow_trout_2019 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2019&Submit=Go')[0]

In [12]:
rainbow_trout_2019.head()

                  Water Body  Number Stocked   Size
0  Ablon Park Pond (Garland)            2003  Adult
1  American Legion Park Pond            1816  Adult
2                Amsler Park            2644  Adult
3                   Ascarate            5872  Adult
4                Bailey Lake            1017  Adult

In [15]:
rainbow_trout_2019['year_stocked'] = '2019'

In [16]:
rainbow_trout_2019

                    Water Body  Number Stocked   Size year_stocked
0    Ablon Park Pond (Garland)            2003  Adult         2019
1    American Legion Park Pond            1816  Adult         2019
2                  Amsler Park            2644  Adult         2019
3                     Ascarate            5872  Adult         2019
4                  Bailey Lake            1017  Adult         2019
..                         ...             ...    ...          ...
175           Waskom City Pond            1032  Adult         2019
176         Waterloo Park Pond            6716  Adult         2019
177            Winchester lake            1365  Adult         2019
178          Woldert Park Pond            1667  Adult         2019
179              Total Stocked          350046    NaN         2019

[180 rows x 4 columns]

In [13]:
rainbow_trout_2018 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2018&Submit=Go')[0]

In [14]:
rainbow_trout_2018

                    Water Body  Number Stocked   Size
0     A. E. Wood Fish Hatchery             426  Adult
1    Ablon Park Pond (Garland)            2051  Adult
2    American Legion Park Pond            1702  Adult
3                  Amsler Park             610  Adult
4                     Ascarate            2353  Adult
..                         ...             ...    ...
147         Waterloo Park Pond            5064  Adult
148            Winchester lake             617  Adult
149          Woldert Park Pond             889  Adult
150               Wyatt's Pond            1261  Adult
151              Total Stocked          243261    NaN

[152 rows x 3 columns]

In [18]:
rainbow_trout_2018['year_stocked'] = '2018'
rainbow_trout_2018

                    Water Body  Number Stocked   Size year_stocked
0     A. E. Wood Fish Hatchery             426  Adult         2018
1    Ablon Park Pond (Garland)            2051  Adult         2018
2    American Legion Park Pond            1702  Adult         2018
3                  Amsler Park             610  Adult         2018
4                     Ascarate            2353  Adult         2018
..                         ...             ...    ...          ...
147         Waterloo Park Pond            5064  Adult         2018
148            Winchester lake             617  Adult         2018
149          Woldert Park Pond             889  Adult         2018
150               Wyatt's Pond            1261  Adult         2018
151              Total Stocked          243261    NaN         2018

[152 rows x 4 columns]

In [19]:
rainbow_trout_2017 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2017&Submit=Go')[0]
rainbow_trout_2017.head()

                  Water Body  Number Stocked   Size
0   A. E. Wood Fish Hatchery             374  Adult
1  American Legion Park Pond            1406  Adult
2                Amsler Park            1367  Adult
3                   Ascarate            3238  Adult
4                Bailey Lake            1811  Adult

In [20]:
rainbow_trout_2017['year_stocked'] = '2017'
rainbow_trout_2017

                    Water Body  Number Stocked   Size year_stocked
0     A. E. Wood Fish Hatchery             374  Adult         2017
1    American Legion Park Pond            1406  Adult         2017
2                  Amsler Park            1367  Adult         2017
3                     Ascarate            3238  Adult         2017
4                  Bailey Lake            1811  Adult         2017
..                         ...             ...    ...          ...
162         Waterloo Park Pond            6399  Adult         2017
163            Winchester lake            1423  Adult         2017
164          Woldert Park Pond            1459  Adult         2017
165               Wyatt's Pond            1267  Adult         2017
166              Total Stocked          325834    NaN         2017

[167 rows x 4 columns]

In [21]:
rainbow_trout_2016 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2016&Submit=Go')[0]
rainbow_trout_2016['year_stocked'] = '2016'
rainbow_trout_2016

                    Water Body  Number Stocked   Size year_stocked
0    Ablon Park Pond (Garland)            1249  Adult         2016
1                  Amsler Park             753  Adult         2016
2                     Ascarate             750  Adult         2016
3       Bandera City Park Lake             576  Adult         2016
4               Bane Park Lake            2400  Adult         2016
..                         ...             ...    ...          ...
154         Waterloo Park Pond            6531  Adult         2016
155            Winchester lake            2058  Adult         2016
156          Woldert Park Pond            1806  Adult         2016
157               Wyatt's Pond            1034  Adult         2016
158              Total Stocked          342252    NaN         2016

[159 rows x 4 columns]

In [22]:
rainbow_trout_2015 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2015&Submit=Go')[0]
rainbow_trout_2015['year_stocked'] = '2015'
rainbow_trout_2015

                    Water Body  Number Stocked   Size year_stocked
0    Ablon Park Pond (Garland)            1274  Adult         2015
1    American Legion Park Pond             751  Adult         2015
2                  Amsler Park            1507  Adult         2015
3              Arena Park Pond            2562  Adult         2015
4                     Ascarate            5137  Adult         2015
..                         ...             ...    ...          ...
150            Winchester lake            1201  Adult         2015
151          Woldert Park Pond            1451  Adult         2015
152      Wolf Creek (Lipscomb)            1330  Adult         2015
153               Wyatt's Pond            1020  Adult         2015
154              Total Stocked          329408    NaN         2015

[155 rows x 4 columns]

In [3]:
rainbow_trout_2014 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2014&Submit=Go')[0]
rainbow_trout_2014['year_stocked'] = '2014'
rainbow_trout_2014

                               Water Body  Number Stocked   Size year_stocked
0               Ablon Park Pond (Garland)            2835  Adult         2014
1               American Legion Park Pond            3906  Adult         2014
2                             Amsler Park            1272  Adult         2014
3                         Arena Park Pond            1009  Adult         2014
4                                Ascarate            6459  Adult         2014
..                                    ...             ...    ...          ...
137  West Guth Park Pond (Corpus Christi)             457  Adult         2014
138                       Winchester lake            2049  Adult         2014
139                     Woldert Park Pond             550  Adult         2014
140                          Wyatt's Pond            1024  Adult         2014
141                         Total Stocked          321724    NaN         2014

[142 rows x 4 columns]

In [4]:
rainbow_trout_2013 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2013&Submit=Go')[0]
rainbow_trout_2013['year_stocked'] = '2013'
rainbow_trout_2013

                               Water Body  Number Stocked   Size year_stocked
0               Ablon Park Pond (Garland)            2971  Adult         2013
1               American Legion Park Pond            2009  Adult         2013
2                             Amsler Park             755  Adult         2013
3                         Arena Park Pond            1004  Adult         2013
4                                Ascarate            4020  Adult         2013
..                                    ...             ...    ...          ...
132                    Waterloo Park Pond            6489  Adult         2013
133  West Guth Park Pond (Corpus Christi)             502  Adult         2013
134                     Woldert Park Pond            1527  Adult         2013
135                          Wyatt's Pond             795  Adult         2013
136                         Total Stocked          307532    NaN         2013

[137 rows x 4 columns]

In [5]:
rainbow_trout_2012 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2012&Submit=Go')[0]
rainbow_trout_2012['year_stocked'] = '2012'
rainbow_trout_2012

                               Water Body  Number Stocked   Size year_stocked
0               Ablon Park Pond (Garland)            2912  Adult         2012
1               American Legion Park Pond            4143  Adult         2012
2                         Arena Park Pond            1623  Adult         2012
3                                Ascarate            4306  Adult         2012
4                  Bandera City Park Lake            1015  Adult         2012
..                                    ...             ...    ...          ...
125       Waco Optimist (HOT Fairgrounds)            2002  Adult         2012
126                    Waterloo Park Pond            7721  Adult         2012
127  West Guth Park Pond (Corpus Christi)             502  Adult         2012
128                     Woldert Park Pond            2080  Adult         2012
129                         Total Stocked          289196    NaN         2012

[130 rows x 4 columns]