In [1]:
import pandas as pd

In [11]:
rainbow_trout_2019 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2019&Submit=Go')[0]

In [12]:
rainbow_trout_2019.head()

                  Water Body  Number Stocked   Size
0  Ablon Park Pond (Garland)            2003  Adult
1  American Legion Park Pond            1816  Adult
2                Amsler Park            2644  Adult
3                   Ascarate            5872  Adult
4                Bailey Lake            1017  Adult

In [13]:
rainbow_trout_2018 = pd.read_html('https://tpwd.texas.gov/fishboat/fish/action/stock_byspecies.php?timeframe=selectyear&species=0027&year=2018&Submit=Go')[0]

In [14]:
rainbow_trout_2018

                    Water Body  Number Stocked   Size
0     A. E. Wood Fish Hatchery             426  Adult
1    Ablon Park Pond (Garland)            2051  Adult
2    American Legion Park Pond            1702  Adult
3                  Amsler Park             610  Adult
4                     Ascarate            2353  Adult
..                         ...             ...    ...
147         Waterloo Park Pond            5064  Adult
148            Winchester lake             617  Adult
149          Woldert Park Pond             889  Adult
150               Wyatt's Pond            1261  Adult
151              Total Stocked          243261    NaN

[152 rows x 3 columns]